*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    background: linear-gradient(rgba(0,0,0,0.800), rgba(0,0,0,0.800)),url(./design/image2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .form-layer{
    background-color: #fff;
    width: 60rem;
    display: flex;
}
.form-layer .form-details{
    background: linear-gradient(rgba(0,0,0,0.800), rgba(0,0,0,0.800)),url(./design/image2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    flex: 1;
}
.form-details .text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.text .title{
    text-transform: uppercase;
}
.text .enter{
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 0;
}
.account p{
    font-size: 0.9rem;
    padding: 1rem 0 0.5rem 0;
}
.account .accountBtn{
    padding: 0.4rem 2rem;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
}
.accountBtn:hover{
    background-color: rgba(255, 255, 255, 0.200);
}

.form-layer .form-element{
    flex: 1;
    padding: 1.5rem;
}
.form-element form .person-detail{
    display: flex;
    gap: 1rem;
}
.person-detail .flex{
    margin-bottom: 0;
    width: 100%;
}
input{
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 1px solid grey;
}
label{
    text-transform: uppercase;
    font-size: 0.7rem;
}
form div{
    margin-bottom: 0.8rem;
    position: relative;
}
form .firstName, .lastName{
    margin-bottom: 0;
}
form .error{
    position: absolute;
    left: 0;
    top: 2.5rem;
    color: red;
    font-size: 0.6rem;
    display: none;
}
.error.active{
    display: block;
}
.errorBorder{
    border: 1px solid red;    
}
form .btn{
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: yellowgreen;
    margin-top: 1rem;
}
.greenBorder{
    border: 1px solid green;
}